* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #838e83;
  margin: 0;
}

.tab-nav {
  text-align: center;
}

.wrapper_div,
.wrapper_div_landing {
  margin: 0 auto;
  min-width: 300px;
  max-width: 960px;
  /* background-color: #b2bcaa;
  border: solid #c9cebd 1px;
  border-radius: 15px; */
  text-align: center;
}

.wrapper_div_profile {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1250px;
  /* background-color: #b2bcaa;
  border: solid #c9cebd 1px;
  border-radius: 15px; */
  text-align: center;
}

.wrapper_header {
  padding: 10px;
  color: #64403e;
}

.wrapper_body_div_profile {
  width: 100%;
}

.wrapper_body_div_profile,
.contact_wrapper_body_div {
  overflow: hidden;
}

.contact_wrapper_body_div,
.login_wrapper_body_div,
.registration_form_div,
.contact_form_div {
  display: inline-block;
}

.wrapper_body_content_div {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper_body_div_content_paragraph {
  text-align: justify;
  text-indent: 50px;
  color: #362c2b;
}

.wrapper_body_div_content_paragraph_header {
  color: #64403e;
}

.landing_wrapper_body_div_content_paragraph {
  overflow: hidden;
  text-align: justify;
  text-indent: 50px;
  color: #362c2b;
}

.landing_wrapper_body_div_content_paragraph img {
  border: solid 1px #c9cebd;
}

.left_image,
.right_image {
  height: 300px;
  border-radius: 15px;
}

.left_image {
  float: left;
  margin-right: 15px;
}

.right_image {
  float: right;
  margin-left: 15px;
}

.contact_form_button {
  width: 100px;
}

.login_form_div,
.registration_form_div,
.contact_form_div,
.registration_confirmation_wrapper_body_div {
  width: 300px;
  overflow: hidden;
  padding: 15px;
  text-align: right;
  background-color: #c9cebd;
  border: solid 1px #838e83;
  border-radius: 15px;
}

.login_form_div button {
  width: 80px;
}

.signup_form_div button {
  width: 80px;
}

.wrapper_body_div_profile_inner {
  margin: auto;
  padding: 0px;
  min-width: 300px;
  max-width: 1250px;
  width: 100%;
}

.wrapper_body_div_column_profile_left,
.wrapper_body_div_column_profile_right,
.admin_wrapper_body_div_column_profile_right {
  padding: 15px;
  margin: 10px;
  display: inline-block;
}

.wrapper_body_div_column_profile_left {
  width: 100%;
}

.wrapper_body_div_column_profile_right,
.admin_wrapper_body_div_column_profile_right {
  width: 100%;
}

.wrapper_body_div_column_item a:hover,
a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.new_job_form,
.completed_jobs_div,
.open_jobs_div,
.messages_div {
  padding: 10px;
}

.contact_form_div_footer img {
  margin: 10px;
  border-radius: 5px;
}

.register_form_div_header {
  text-align: center;
  color: #64403e;
}

.registration-form-error-div,
.login-form-error-div,
.new-job-form-error-div,
.password-reset-error-div,
.new-address-form-error-div {
  margin: 0 auto;
  color: #64403e;
}

.registration-form-error-div ul,
.login-form-error-div ul,
.new-job-form-error-div ul,
.password-reset-error-div ul,
.new-address-form-error-div ul {
  margin: 0 auto;
  list-style-type: none;
  color: #64403e;
}

.registration-form-error-div p,
.login-form-error-div p,
.new-job-form-error-div p,
.password-reset-error-div p,
.new-address-form-error-div p {
  font-weight: bold;
}

.no-account-p-link a {
  color: #523937;
}

.loading-message {
  color: #523937;
}

.profile_expansion_panel_details_div {
  width: 100%;
  border: solid #92896f 1px;
  border-radius: 15px;
  padding: 5px;
}
.admin_profile_expansion_panel_details_div {
  width: 100%;
  border: solid #92896f 1px;
  border-radius: 15px;
  padding: 5px;
}

.open_jobs_table,
.completed_jobs_table,
.messages_table {
  margin-bottom: 20px;
  width: 100%;
}

.open_jobs_table_header {
  text-align: left;
  padding: 5px;
  width: 100%;
}
.completed_jobs_table_header {
  text-align: left;
  padding: 5px;
  width: 100%;
}

.open_jobs_table_row,
.completed_jobs_table_row,
.messages_table_row {
  padding: 5px;
}

.open_jobs_table_detail_title,
.open_jobs_table_detail_date,
.completed_jobs_table_detail_title,
.completed_jobs_table_detail_date,
.messages_table_detail_from,
.messages_table_detail_time {
  text-align: left;
  font-size: 14px;
  padding: 5px;
}

.messages_table_detail_from,
.messages_table_detail_content,
.messages_table_detail_time {
  text-align: left;
  font-size: 14px;
  padding: 5px;
}

.open_jobs_table_detail_description_item:hover,
.completed_jobs_table_detail_description_item:hover,
.messages_table_detail_content:hover,
.settings_item:hover,
.all_jobs_table_detail_description:hover {
  cursor: pointer;
  font-weight: bold;
}

.settings-ul {
  margin: 0 auto;
  padding: 5px;
}
.settings_item {
  list-style: none;
  text-align: left;
}

@media only screen and (min-width: 851px) {
  .sidebar,
  #main {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  /* hide the Tab components inside the .tab-nav div*/
  .tab-nav {
    display: none;
  }

  .topnav {
    background-color: #838e83;
    border: none;
    height: 30px;
  }

  .wrapper_div,
  .wrapper_div_landing,
  .contact_wrapper_body_div {
    border-radius: 0px;
    border-top: none;
  }

  .sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #6c6061;
    color: white;
    height: 100%;
    /* transition: 0.9s; */
  }

  .sidebar a {
    padding: 20px;
    margin-top: 30px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: white;
    display: block;
    /* transition: 0.9s; */
  }
  .sidebar .closebtn {
    float: right;
    color: white;
    font-size: 36px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .sidebar .closebtn:hover {
    cursor: pointer;
  }

  .openbtn {
    position: sticky !important;
    top: 0;
    left: 0;
    font-size: 20px;
    background-color: inherit;
    color: #64403e;
    border: none;
  }

  #main {
    /* transition: margin-left 0.9s; */
    padding: 16px;
  }
}

.contact_wrapper_body_div {
  width: 600px;
}

.contact_form_div,
.login_form_div,
.registration_form_div {
  width: 500px;
}

.registration_confirmation_wrapper_body_div {
  width: 100%;
  text-align: center;
}

.registration_form_div .wrapper_body_div_profile {
  display: flex;
}

.wrapper_body_div_profile_inner {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .modal-container {
    position: unset !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 15% !important;
    margin-bottom: 15% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .modal-container-body {
    width: 100%;
    padding: 0 !important;
    padding-bottom: 30px !important;
  }

  .register_form_div_header {
    font-size: 14px;
    margin-top: 0;
  }

  .wrapper_div {
    width: 100% !important;
  }

  .left_image {
    margin-right: 15px;
  }

  .right_image {
    margin-left: 15px;
  }

  .left_image,
  .right_image {
    width: 200px;
    height: 200px;
  }

  .wrapper_body_div_column_profile_left,
  .wrapper_body_div_column_profile_right,
  .admin_wrapper_body_div_column_profile_right {
    width: 100%;
  }

  .item_summary_profile {
    font-size: smaller;
  }

  .contact_form_div_footer img {
    margin-top: 0;
  }

  .landing_wrapper_body_div_content_paragraph {
    text-align: justify;
    font-size: 14px;
  }

  .wrapper_body_div_profile_inner {
    width: 100%;
  }

  .wrapper_body_div_profile_inner {
    flex-direction: column;
  }

  .contact_wrapper_body_div,
  .login_wrapper_body_div {
    width: 100% !important;
  }

  .contact_form_div,
  .login_form_div,
  .registration_form_div,
  .registration_confirmation_wrapper_body_div {
    width: 85% !important;
    padding: 10px;
    margin: auto;
  }

  .topnav {
    margin-bottom: 20px;
  }

  .wrapper_header {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .messages_table_detail_content,
  .open_jobs_table_detail_description,
  .completed_jobs_table_detail_description {
    width: 80%;
  }
  .wrapper_body_div_content_paragraph {
    font-size: 14px;
  }
}

@media only screen and (max-width: 970px) {
  .wrapper_body_div_profile_inner {
    flex-direction: column;
  }

  .open_jobs_table_detail_title,
  .open_jobs_table_detail_date,
  .completed_jobs_table_detail_title,
  .completed_jobs_table_detail_date,
  .messages_table_detail_from,
  .messages_table_detail_time {
    text-align: left;
    font-size: 14px;
    width: 33.33%;
    padding: 5px;
  }

  .open_jobs_table_header,
  .completed_jobs_table_header,
  .messages_table_header {
    text-align: left;
    padding: 5px;
  }

  .messages_table_detail_content,
  .open_jobs_table_detail_description,
  .completed_jobs_table_detail_description {
    width: 80%;
    padding: 5px;
  }
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20px !important;
  min-width: 300px;
  border-radius: 15px;
  outline: none;
}

.modal-container-body {
  text-align: left;
}

.modal-container-header {
  font-size: 18px;
  color: #64403e;
  margin-left: 20px;
}

.modal-container-close {
  margin-right: 20px !important;
}
.open_job_details_expanded_body,
.completed_job_details_expanded_body,
.message_details_expanded_body,
.password_reset_body,
.new_message_container,
.all_job_details_expanded_body {
  padding: 20px;
}

.password_reset_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
}

.password_reset_div_header {
  color: #64403e;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

#modal-address-update {
  overflow-y: scroll;
}

#modal-address-update::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #f5f5f5;
}

#modal-address-update::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#modal-address-update::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
