* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #838e83;
  margin: 0;
}

.tab-nav {
  text-align: center;
}
.wrapper_div,
.wrapper_div_landing {
  margin: 0 auto;
  min-width: 300px;
  max-width: 960px;
  /* background-color: #b2bcaa;
  border: solid #c9cebd 1px;
  border-radius: 15px; */
  text-align: center;
}

.wrapper_header {
  display: inline-block;
  padding: 10px;
  color: #64403e;
}

.wrapper_body_div_profile,
.contact_wrapper_body_div {
  overflow: hidden;
}

.contact_wrapper_body_div,
.login_wrapper_body_div,
.registration_form_div,
.contact_form_div {
  display: inline-block;
}

.wrapper_body_content_div {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper_body_div_content_paragraph {
  text-align: justify;
  text-indent: 50px;
  color: #362c2b;
}

.wrapper_body_div_content_paragraph_header {
  color: #64403e;
}

.landing_wrapper_body_div_content_paragraph {
  overflow: hidden;
  text-align: justify;
  text-indent: 50px;
  color: #362c2b;
}

.landing_wrapper_body_div_content_paragraph img {
  border: solid 1px #c9cebd;
}

.left_image,
.right_image {
  height: 300px;
  border-radius: 15px;
}

.left_image {
  float: left;
  margin-right: 15px;
}

.right_image {
  float: right;
  margin-left: 15px;
}

.contact_form_button {
  width: 100px;
}

.login_form_div,
.registration_form_div,
.contact_form_div {
  width: 300px;
  overflow: hidden;
  padding: 15px;
  text-align: right;
  background-color: #c9cebd;
  border: solid 1px #838e83;
  border-radius: 15px;
}

.login_form_div button {
  width: 80px;
}

.signup_form_div button {
  width: 80px;
}

.wrapper_body_div_profile_inner {
  margin: auto;
  padding: 0px;
  min-width: 300px;
  max-width: 960px;
}
.wrapper_body_div_column_profile_left,
.wrapper_body_div_column_profile_right {
  padding: 15px;
  margin: 10px;
  display: inline-block;
}
.wrapper_body_div_column_profile_left {
  width: 400px;
}

.wrapper_body_div_column_profile_right {
  width: 400px;
}

.wrapper_body_div_column_item a:hover,
a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.new_job_form {
  padding: 10px;
  border: solid #92896f 2px;
  border-radius: 15px;
}
.messages_container {
  border: solid #92896f 2px;
  border-radius: 15px;
  padding: 10px;
}
.account_message_preview {
  text-align: left;
  border: solid #92896f 2px;
  border-radius: 15px;
  padding: 10px;
}

.account_message_preview a {
  padding: 10px;
  text-decoration: underline;
}

.account_message_header {
  font-weight: bold;
}

.contact_form_div_footer img {
  margin: 10px;
  border-radius: 5px;
}

.register_form_div_header {
  text-align: center;
  color: #64403e;
}

.registration-form-error-div {
  margin: 0 auto;
  color: #64403e;
}
.registration-form-error-div ul {
  margin: 0 auto;
  list-style-type: none;
  color: #64403e;
}
.registration-form-error-div p {
  font-weight: bold;
}
.no-account-p-link a {
  color: #523937;
}
.loading-message {
  color: #523937;
}

.open_job_li {
  list-style-type: circle;
  text-align: left;
}

@media only screen and (min-width: 851px) {
  .sidebar,
  #main {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  /* hide the Tab components inside the .tab-nav div*/
  .tab-nav {
    display: none;
  }
  .topnav {
    background-color: #838e83;
    border: none;
    height: 30px;
  }
  .wrapper_div,
  .wrapper_div_landing,
  .contact_wrapper_body_div {
    border-radius: 0px;
    border-top: none;
  }
  .sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #6c6061;
    color: white;
    height: 100%;
    /* transition: 0.9s; */
  }

  .sidebar a {
    padding: 20px;
    margin-top: 30px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: white;
    display: block;
    /* transition: 0.9s; */
  }
  .sidebar .closebtn {
    float: right;
    color: white;
    font-size: 36px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .sidebar .closebtn:hover {
    cursor: pointer;
  }

  .openbtn {
    position: sticky !important;
    top: 0;
    left: 0;
    font-size: 20px;
    background-color: inherit;
    color: #64403e;
    border: none;
  }

  #main {
    /* transition: margin-left 0.9s; */
    padding: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .contact_form_div,
  .login_form_div,
  .registration_form_div {
    width: 260px;
  }

  .left_image {
    margin-right: 15px;
  }

  .right_image {
    margin-left: 15px;
  }

  .left_image,
  .right_image {
    width: 200px;
    height: 200px;
  }
  .wrapper_body_div_column_profile_left,
  .wrapper_body_div_column_profile_right {
    width: 280px;
  }
  .item_summary_profile {
    font-size: smaller;
  }
  .contact_form_div_footer img {
    margin-top: 0;
  }

  .landing_wrapper_body_div_content_paragraph {
    text-align: justify;
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .contact_wrapper_body_div {
    width: 600px;
  }
  .contact_form_div,
  .login_form_div,
  .registration_form_div {
    width: 500px;
  }
  .wrapper_body_div_profile {
    display: flex;
  }
  .wrapper_body_div_profile_inner {
    display: flex;
    align-items: center;
  }
}
